<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebSoup- A URL scraper app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container-fluid ">

        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    WebSoup
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/in/ayush-lingwal-8578261b8/" https:// >LinkedIn</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="https://rpsace.herokuapp.com" target="_blank">Rock,Paper,Scissor</a></li>
                                <li><a class="dropdown-item" href="https://notaryclub.herokuapp.com" target="_blank" >Notary Club</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="https://ayushlingwal.herokuapp.com" target="_blank">My Portfolio</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    
        <form method="POST" a="/" class="my-2">
            <div class="mb-3 mt-4">
                <label for="exampleInputEmail1" class="form-label"><h5>Paste the URL of the page you want to scrape (*mandatory)</h5> Example : <p class="example"> https://stackoverflow.com</p> </label>
                <input type="text" name="link"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required placeholder="https://www.google.co.in/" >
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> <h5>Enter one HTML tag you want (or leave blank if you want the complete HTML)</h5> Example :  <p class="example">title/a/img/p</p></label>
                <input type="text" name="tag"  class="form-control" id="exampleInputEmail1" placeholder="img" aria-describedby="emailHelp" >
            </div>
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <textarea class="container-fluid"  >
            
            {{toscrape}}
        </textarea>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>